html {
    background: url("assets_cv/1550170.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: medium;
}
* {
    box-sizing: border-box;
}
a {
    color: limegreen;
}
body {
    font-family: "Courier New";
    color: lightslategray;
}
@media only screen and (max-width: 480px) {
.container_linksboven, .container_linksonder, .container_extra, .container_linkerzijde, .container_middenstuk .container_footer, .container_middenboven, .container_middenonder{
    width: 100%;
}
}
@media only screen and (max-width: 800px) {
    .container_linksboven, .container_linksonder, .container_extra, .container_linkerzijde, .container_middenstuk .container_footer, .container_middenboven, .container_middenonder{
        width: 100%;
    }
}

.profielfoto {
    height: 160px;
    width: 140px;
    border: solid darkslateblue 2px;

}
.profielfoto:hover {
    box-shadow: 10px 10px 10px black;
}
.profielfoto:active {
    border: solid black 3px;
    box-shadow: 0px 0px;
}
.gbdatumicon {
    height: 30px;
    width: 30px;
}
.huisicon {
    height: 30px;
    width: 30px;
}
.telefoonicon {
    height: 30px;
    width: 30px;
}
.mailicon {
    height: 30px;
    width: 30px;
}
.linkedinicon {
    height: 30px;
    width: 30px;
}
.linkedinicon:hover {
    box-shadow: 2px 2px 2px 2px darkslateblue;
}
.container_linksboven {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid lightslategray;
    padding: 15px;
    margin: 15px;
    text-align: center;
}
.container_linksonder {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    border: 3px solid lightslategray;
    text-align: center;
    align-items: center;
}
.container_linkerzijde {
    display: flex;
    flex-direction: column;
    float: left;
    width: 35%;

}
.container_middenonder {
    display: inline-block;

}
.lijst1 , .lijst2 , .lijst3 , .lijst4 {
    margin: 35px;
}
li:nth-child(2n+1) {
   font-weight: bold;
}
ul {
    list-style: none;
}

.container_middenboven {
    display: inline-block;
    margin: 25px;
    padding: 40px;
}

.container_middenstuk {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 65%;
    float: left;
}

.nlicon {
    height: 50px;
    width: 80px;
}
.engicon {
    height: 50px;
    width: 80px;
}
.duitsicon {
    height: 50px;
    width: 80px;
}
.fricon {
    height: 50px;
    width: 80px;
}
.plicon {
    height: 50px;
    width: 80px;
}
.talen {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_extra {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    width: 65%;
    float: left;
}
.container_textgen {
    color: limegreen;
    padding: 15px;
    margin: 15px;

}
tr:nth-child(2n+1):not(:first-child) {
    background-color: darkslateblue;

}
ul {

}
.container_footer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: dimgray;
    float: left;
}
.footer_links {
    display: flex;
    flex-direction: row;
}
.footer_midden {
    display: flex;
    flex-direction: row;
}
.footer_rechts {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titelportfolio {
    text-align: center;
    color: lightslategray;
}
.navigatiebalk {
    background-color: darkslateblue;
    overflow: hidden;
    margin-bottom: 25px;
}
.navigatiebalk a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 20px 27.8px;
    font-size: 17px;
    color: lightslategray;
}
.navigatiebalk a:hover
{
    background-color: lightslategray;
    color: darkslateblue;
}
.navigatiebalk a.actief
{
    background-color: royalblue;
    color: lightblue;
}

