html {
    background: url("Assets/1550170.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: medium;
}
.titelportfolio {
    text-align: center;
    color: lightslategray;
}
.navigatiebalk {
    background-color: darkslateblue;
    overflow: hidden;
}
.navigatiebalk a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 20px 65px;
    font-size: 17px;
    color: lightslategray;
}
.navigatiebalk a:hover
{
    background-color: lightslategray;
    color: darkslateblue;
}
.navigatiebalk a.actief
{
    background-color: royalblue;
    color: lightblue;
}
p {
    font-size: 17px;
    color: lightslategray;
}
h2 {
    font-size: 23px;
    color: darkslateblue;
}
.container_info {
    margin: 5px;
    padding: 15px;
}
.eerstevraag {
    padding: 15px;
}
.tweedevraag {
    padding: 15px;
}