html {
    background: url("Assets/1550170.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: medium;
}
.titelportfolio {
    text-align: center;
    color: lightslategray;
}
.navigatiebalk {
    background-color: darkslateblue;
    overflow: hidden;
    margin-bottom: 25px;
}

.navigatiebalk a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 20px 27.8px;
    font-size: 17px;
    color: lightslategray;
}
.navigatiebalk a:hover
{
    background-color: lightslategray;
    color: darkslateblue;
}
.navigatiebalk a.actief
{
    background-color: royalblue;
    color: lightblue;
}
.container_reflectie {
    margin: 5px;
    padding: 15px;
}
.sterktesprof, .sterktesperson , .zwaktesperson, .zwaktesprof {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid darkslateblue;
    background-color: royalblue;
}
p {
    font-size: 17px;
    color: lightblue;
}
h2 {
    font-size: 23px;
    color: white;
}
@media only screen and (max-width: 800px) {
    .navigatiebalk, .container_reflectie {
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .navigatiebalk, .container_reflectie {
        width: 100%;
    }
}